$hhu-white: #FFF;
$hhu-black: #000;

$hhu-blue: #006AB3;
$hhu-green: #78AC42; //#8cb110; // don't know why. But the original color looks off.
$hhu-orange: #ee7f00;
$hhu-red: #BE0A26;
$hhu-turquoise: #57bab1;
$hhu-darkblue: #003964;
$hhu-iceblue: #b5cbd6;

$hhu-darkblue-75: mix($hhu-darkblue, white, 75%);
$hhu-darkblue-55: mix($hhu-darkblue, white, 55%);