@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/buttons";

.proposal {
  @extend .bg-white;
  max-width: 655px;
  height: 200px;
  border: 2px solid $secondary;
  border-radius: 10px;
  display: flex;
  position: relative;
  overflow: hidden;

  .options {
    @extend .btn;
    @extend .btn-light;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.2rem 0;
  }
}

.proposal-content {
  @extend .btn-light;
  background-color: $white;
  cursor: pointer;
}

.proposal-buttons {
  height: 100%;
  max-width: 70px;
  flex: none;
  border-right: 1px solid theme-color("secondary");

  display: flex;
  flex-direction: column;

  .btn {
    height: 100%;
    border: 0;
    border-radius: 0;
  }

  .spacer {
    border-top: .5px solid theme-color("secondary");
    flex: none;
  }
}

.proposal-title {
  line-height: 1.5;
  padding: 10px 5px 10px 10px;
  margin-right: 1.5rem;
}

.proposal-price {
  $color: theme-color("primary");

  position: absolute;
  bottom: 0;
  right: 0;
  min-width: calc(100px + .3vw);
  padding: 0.333rem calc(1rem + .3vw) 0.333rem calc(1rem + .3vw);

  display: flex;
  align-items: center;
  text-align: center;

  &__text {
    width: 100%;
    color: color-yiq($color);
    font-size: calc(1rem + .3vw);
    line-height: 1.75rem;
  }

  background-color: $color;
  border-top-left-radius: 20px;
}

//
// Details
//

.proposal-details {
  padding: 10px;
  font-size: calc(0.8rem + .3vw);
}

.price-tag-big {
  $price-tag-border-radius: 20px;
  min-width: 165px;
  flex-grow: 1;

  @mixin price-tag-borders($color, $top) {
    color: $color;
    text-align: center;
    padding: .5rem 1rem;
    border: $color solid 2px;
  }

  :first-child {
    @include price-tag-borders($primary, true);
    font-size: $h5-font-size;
    border: {
      top-left-radius: $price-tag-border-radius;
      top-right-radius: $price-tag-border-radius;
    }
  }

  :last-child {
    @include price-tag-borders($secondary, false);
    font-size: $font-size-base;

    border: {
      bottom-left-radius: $price-tag-border-radius;
      bottom-right-radius: $price-tag-border-radius;
    }
  }
}

.detail-card {
  &__header {
    max-width: 750px;
    flex-basis: 500px;
    flex-grow: 2;
  }
}