@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/buttons";

.proposal {
  max-width: 655px;
  height: 200px;
  border: 2px solid $secondary;
  border-radius: 10px;
  display: flex;
  position: relative;
  overflow: hidden;

  .proposal-content {
    @extend .btn-light;
    min-width: 355px;
    cursor: pointer;
  }

  .proposal-buttons {
    height: 100%;
    width: 70px;
    flex: none;
    border-right: 1px solid $secondary;

    display: flex;
    flex-direction: column;

    .btn {
      height: 100%;
      border: 0;
      border-radius: 0;
    }

    .spacer {
      border-top: .5px solid $secondary;
      flex: none;
    }
  }

  .proposal-title {
    line-height: 1.5;
  }

  .proposal-price {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 160px;
    padding: 0.333rem 1.5rem 0.333rem 1.5rem;

    display: flex;
    align-items: center;
    text-align: center;

    .proposal-price__text {
      width: 100%;
      color: white;
      font-size: 24px;
      line-height: 28px;
    }

    background-color: $blue;
    border-radius: 20px 0 8px 0;
  }
}

.price-tag-big {
  $price-tag-border-radius: 20px;
  min-width: 165px;
  flex-grow: 1;

  @mixin price-tag-borders($color, $top) {
    color: $color;
    text-align: center;
    padding: .5rem 1rem;
    border: $color solid 2px;
  }

  :first-child {
    @include price-tag-borders($primary, true);
    font-size: $h5-font-size;
    border: {
      top-left-radius: $price-tag-border-radius;
      top-right-radius: $price-tag-border-radius;
    }
  }

  :last-child {
    @include price-tag-borders($secondary, false);
    font-size: $font-size-base;

    border: {
      bottom-left-radius: $price-tag-border-radius;
      bottom-right-radius: $price-tag-border-radius;
    }
  }
}

.detail-card {
  &__header {
    max-width: 750px;
    flex-basis: 500px;
    flex-grow: 2;
  }
}