$blue: #006AB3;

$dark-gray: #6C6C6C;
$green: #3EC300;
$yellow: #BDBF09;
$red: #BE0A26;

//$secondary: $gray-500;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "proposal";

.argumentation-header {
  height: 24px;
  color: white;
  text-align: center;
}

.argumentation-upstream-item {
  @extend .list-group-item;
  @extend .list-group-item-action;

  text-align: center;
  border-radius: 10px;

  &[data-type=pro] {
    @extend .list-group-item-success;
  }
  &[data-type=con] {
    @extend .list-group-item-danger;
  }
  &[data-type=position] {
    @extend .list-group-item-info;
  }
}