@import "hhu-colors";

// Theme color
$blue: $hhu-blue;
$dark-gray: #6C6C6C;
$green: $hhu-green;
$secondary: $hhu-darkblue-55;
$red: $hhu-red;

$enable-responsive-font-sizes: true;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "proposal";
@import "bottom_sheet";

body {
  background-color: $gray-200;
}

.box-shadow {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.argumentation-header {
  color: white;
  text-align: center;
}

.argumentation-upstream-item {
  @extend .list-group-item;
  @extend .list-group-item-action;

  display: flex;
  align-items: center;
  text-align: center;

  &[data-type=pro] {
    @extend .list-group-item-success;
  }
  &[data-type=con] {
    @extend .list-group-item-danger;
  }
  &[data-type=position] {
    @extend .list-group-item-info;
  }
}