image: clojure:openjdk-11-lein

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=/cache/.m2"

stages:
  - build
  - test
  - build-images
  - analysis
  - deploy

test:
  stage: test
  script:
    - lein test

#cljs-tests:
#  stage: test
#  image: circleci/clojure:lein-2.8.1-node-browsers
#  script:
#    - npm install
#    - npx shadow-cljs compile ci-tests
#    - npx karma start --single-run
#    - lein do clean, test-refresh :run-once # clean is needed in case AOT stuff is around
#  cache:
#    key: "$CI_JOB_NAME"
#    paths:
#      - ./node_modules

build_production_images:
  stage: build-images
  image: docker
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/decidotron:snapshot .
    - docker push $CI_REGISTRY_IMAGE/decidotron:snapshot
  only:
    - master
