image: clojure:openjdk-11-tools-deps

services:
  - docker:stable-dind

cache: &global_cache
  key: ${CI_JOB_NAME}
  paths:
    - node_modules/
    - .m2

stages:
  - build
  - test
  - build-images
  - analysis
  - deploy

cljs-test:
  image: circleci/clojure:openjdk-11-tools-deps-node-browsers
  stage: test
  before_script:
    - npm install
  script:
    - npx shadow-cljs compile ci-tests
    - npx karma start --single-run

clj-test:
  stage: test
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - .m2
  script:
    - clojure -Sdeps '{:mvn/local-repo ".m2"}' -A:dev:clj-tests

build_latest_images:
  stage: build-images
  image: docker
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
  when: manual
  only:
    - master

include:
  template: Dependency-Scanning.gitlab-ci.yml