{:http-kit      {:port 3000}

 ;; Legal Origins for API request.
 :legal-origins #{"localhost" "dev.lvh.me" "0.0.0.0"}

 ;; The ssl-redirect defaulted to off, but for security should probably be on in production.
 :ring.middleware/defaults-config
                {:params    {:keywordize true
                             :multipart  true
                             :nested     true
                             :urlencoded true}
                 :cookies   true
                 :responses {:absolute-redirects     true
                             :content-types          true
                             :default-charset        "utf-8"
                             :not-modified-responses true}
                 :static    {:resources "public"}
                 :session   true
                 :security  {:anti-forgery   true
                             :hsts           true
                             :ssl-redirect   false
                             :frame-options  :sameorigin
                             :xss-protection {:enable? true
                                              :mode    :block}}}
 :trace?        false

 :storage-dir   "store"
 :dbas          {:base      :env/DBAS_URL                   ; for link generation "http://balbabla"
                 :api       :env/DBAS_API                   ; for talking to D-BAS e.g. "web:4284/api"
                 :api-token :env/API_TOKEN
                 :pubkey    :env.edn/PUBKEY
                 :database  {:host     :env/DB_HOST
                             :port     :env/DB_PORT
                             :db       "discussion"
                             :user     :env/DB_USER
                             :password :env/DB_PW}}}