{:dbas {:base      "http://0.0.0.0:4284"
        :api-token "27376:fcc344e0ac28cf88108c1d2c683c69578d572fcf433e2117508b4499d2feb1dc"
        :pubkey    "-----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAENBekUS1iJljr/GT1rdjVLZIiamlm\n8Ro7OF6664j/217SSeimtfl8424hgscU21fP/tA+8/or6x5Q1BLlcD5xfA==\n-----END PUBLIC KEY-----"}}
