body {
    background: rgba(235, 235, 235, 0.45);
}

/* Borrowed from Googles Material Design Components ad the sense of material to areas */
.mdc-card {
    border-radius: 4px;
    background-color: #fff;
    /* @alternate */
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Spacing for the root content surface */
.mdc-card.mdc-card__root {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

.up-down {
    display: grid;
    grid-template-columns: 24px;
    grid-template-rows: 24px 24px;
    justify-items: center;
    align-items: center;
}

/* Align text with up/down button */
.content {
    white-space: normal;
    margin-top: .7rem;
}

.unprefer-position {
    position: absolute;
    top: 5px;
    right: 10px;
}

/* Set the button for the pro/con addon in the center and let it animate quite fast */
.expand-btn {
    position: absolute;
    bottom: 0px;
    right: 50%;
    -webkit-transition: .25s linear;
    -moz-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
}

/* Turn expand button upside down, when the content is shown */
.expand-btn[data-toggle="collapse"] {
    -webkit-transform: rotate(.5turn);
    -moz-transform: rotate(.5turn);
    transform: rotate(.5turn);
}

.expand-btn[data-toggle="collapse"].collapsed {
    -webkit-transform: rotate(0turn);
    -moz-transform: rotate(0turn);
    transform: rotate(0turn);
}

.footer {
    margin-top: -10px;
    margin-bottom: -10px;
}

.price {
    white-space: nowrap;
    padding-left: 1rem;
}